pip install pandas SomePackage==1.2.4            	# # specific version
pip install numpy SomePackage==1.20.1 				# # specific version
pip install datetime SomePackage  					# # latest version
sudo apt-get install python-matplotlib SomePackage==3.3.4			# # specific version