pip install pip==21.1.2
pip install pandas            # latest version
pip install numpy		    	# latest version
pip install datetime     		# latest version
pip install matplotlib     	# latest version
